#turtlebot PC workspace
turtlebot3_ws/build
turtlebot3_ws/install
turtlebot3_ws/log

# turtlebot robot workspace
turtlebot_ws/build
turtlebot_ws/install
turtlebot_ws/log

# turtlebot components ws
turtlebot_components_ws

# markdownlint config files
.markdownlint.json

# vscode config files
.vscode