#turtlebot PC workspace
turtlebot3_pc_ws/build
turtlebot3_pc_ws/install
turtlebot3_pc_ws/log

# turtlebot robot workspace
turtlebot_pc_ws/build
turtlebot_pc_ws/install
turtlebot_pc_ws/log

# turtlebot components ws
turtlebot_components_ws

# markdownlint config files
.markdownlint.json

# vscode config files
.vscode