#turtlebot PC workspace
turtlebot3_pc_ws/build
turtlebot3_pc_ws/install
turtlebot3_pc_ws/log

# turtlebot robot workspace
turtlebot3_ws/build
turtlebot3_ws/install
turtlebot3_ws/log

# markdownlint config files
.markdownlint.json

# vscode config files
.vscode